/* 全局样式表 */
html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  /* font-family: 'Raleway', 'Lato', 'glyphicons-halflings-regular'; */
  /* font-family: 'Lato', 'glyphicons-halflings-regular'; */
}
a {
  text-decoration: none;
  color: inherit;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
button {
  border: none;
}
button:focus {
  outline:none;
}
input:focus {
  outline: none;
}
textarea {
  font-family: 'elvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif';
}
/*滚动条整体样式*/
::-webkit-scrollbar {
  width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}
/*滚动条里面小方块*/
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(45deg, #666 25%, #999 0, #999 50%, #666 0, #666 75%, #999 0);
  background-size: 60px 60px;
}
/*滚动条里面轨道*/
::-webkit-scrollbar-track {
  background: transparent;
}
/* 设置首页历史弹窗的高度为固定 */
.history-container .el-dialog {
  /* height: 600px; */
  max-height: 600px;
  overflow-y: auto;
}
/* 设置二级菜单下连接样式不变的问题 */
.el-menu--horizontal .el-menu-item a, .el-menu--horizontal .el-menu-item a:hover {
  color: inherit;
}
/* 去除导航菜单栏下面的白色横线 */
.el-menu--horizontal {
  border-bottom: none !important;
}
/* 修改导航栏下拉箭头的颜色 */
.el-icon-arrow-down:before {
  color: #aaa;
}
/* 修改轮播图前后按钮的背景颜色 */
.el-carousel__arrow {
  background-color: #409EFF !important;
}
/* 修改轮播图下面按钮的背景色 */
.el-carousel__indicators--outside button {
  background-color: #409EFF !important;
}
/* 将表格的最后一项的下划线去掉 */
.el-table tr:last-child td {
  border-bottom: none !important;
}
/* 设置文字分割线的背景颜色 */
.el-divider__text {
  background-color: #f6f6f6;
  color: #606266;
}
/* 设置分割线下margin */
.el-divider--horizontal {
  margin: 36px 0 14px 0;
}
/* 设置对话框的高度 */
.el-dialog__body {
  height: auto;
  overflow: auto;
  padding: 20px;
  padding-bottom: 60px;
}
/* 设置菜单栏底部横线的宽度 */
.el-menu--horizontal .el-menu-item.is-active, .el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
  border-bottom: 3px solid #409EFF;
}
/* 设置带展开表格的样式 */
.demo-table-expand {
  font-size: 0;
}
.demo-table-expand label {
  width: 90px;
  color: #99a9bf;
}
.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
}
/* 修改滑动条最后一个mark文字宽度只有一个字的问题 */
.el-slider__marks div:last-child {
  width: 28px !important;
}
/* 修改popover宽度被限定了最小值的问题 */
.el-popover {
  min-width: 0;
}
/* 修改我的界面的导航栏的背景颜色 */
.memenu-container-menu .el-menu {
  background-color: #f6f6f6;
}
/* 去掉局部容器的main容器padding */
.el-main, .el-header, .el-aside, .el-header {
  padding: 0;
}
/* 设置ul标签没有padding */
ul {
  padding: 0;
}
/* 修改表格展开行内padding太多的问题 */
/* .el-table__expanded-cell {
  padding: 10px 20px !important;
} */

/* 当输入框输入类型为数字的时候，隐藏加减按钮 */
/* 谷歌 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none; 
    margin: 0; 
}
/* 火狐 */
input{
    -moz-appearance:textfield;
}
/* 修改表格扩展项的padding */
.el-table__expanded-cell {
  padding: 10px 10px !important;
}

/* 修改form表单每一项下面的距离 */
/* .el-form-item {
  margin-bottom: 14px;
} */

.step-container {
  width: 100% !important;
  padding: 0 40px !important;
}

.broden-dialog {
  width: auto !important;
}


.el-tree-node__content {
  height: inherit !important;
}